@charset "UTF-8";

.bgImg{
	width: 100%;
	height: auto;
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(../../images/main_img.jpg);
	background-size: contain;
}

.login-wrap {
	width: 600px;
	height: 420px;
	position: absolute;
	top: 50%;
	margin-top: -260px;
	left: 50%;
	margin-left: -300px;
	border: 2px solid #e8e8e8;
	border-radius: 5px;
	padding: 10px;
	background-color: rgba(25, 135, 84, 0.5);
	color: #fff;
	overflow: hidden;
}

.wrap {
	width: 100%;
	height: 200%;
	transition-duration: 0.4s;
}

.login {
	width: 100%;
	height: 396px;
	padding: 108px 0;
	margin-bottom: 10px;
}

.login form {
	height: 200px;
}

.login-wrap .btn-wrap {
	height: 38px;
}

.btn-wrap #btn_login, #search {
	float: right;
}

.search-wrap {
	width: 100%;
	height: 396px;
	padding: 73px 0;
	margin-bottom: 10px;
}

.search {
	height: 240px;
}

@media screen and (max-width: 900px) {
	.login-wrap {
		width: 450px;
		height: 320px;
		margin-top: -210px;
		margin-left: -225px;
	}
	
	.login {
		height: 296px;
		padding: 53px 0;
	}
	
	.search-wrap {
		height: 296px;
		padding: 28px 0;
	}
}
@media screen and (max-width: 600px) {
	.login-wrap {
		width: 300px;
		height: 220px;
		margin-top: -160px;
		margin-left: -150px;
	}
	
	.input-group input, 
	.input-group span,
	.input-group button {
		font-size: 14px;
		height: 25px;
	}
	
	.search {
		height: 196px;
	}
	
	.input-group button {
		padding: 3px 12px; 
	}
	
	.btn-wrap input {
		font-size: 14px;
	}
	
	.login, .search-wrap{
		height: 196px;
		padding: 0;
	}
}
@media screen and (max-width: 300px) {
	.login-wrap {
		width: 100%;
		left: 0;
		margin-left: 0;
	}
}